*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: white;
    font-family: 'Source Sans Pro','Arial',sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}

body{
    margin: 0 30px;
}

header{
    height: 100vh;
}
.front{
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/white2.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/white2.jpg);
    background-color: #eae1e1;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.head{
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/white2.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/white2.jpg);
    background-color: #eae1e1;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.sironam{
    padding: 60px;
}
h1,
h2{
    font-family: serif;
    color: #5c5555;
    font-weight: 100;
}
h1{
    font-size: 150%;
    padding-bottom: 25px;
}
h1:after{
    display: block;
    height: 2px;
    background-color: #5c5555;
    content: "";
    width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}
h2{
    font-size: 120%;
}
h2:last-child{
    
}
nav{
    background: #de2121;
    box-shadow: 2px 2px 6px grey;
    
}
.main-nav li{
    display: inline-block;
    font-size: 88%;
}
.btn:link,                                         /*btn holo lekha er background ta*/
.btn:visited{
    display: inline-block;
    margin-left:-5px;                          /*inline-block automatic baame kisu margin dise, seita ekhane remove holo.*/
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
 
    border-right: 1px solid white;
    -webkit-transition: background-color .8s, color .8s;
    transition: background-color .8s, color .8s;   /*btn btn2 uvoyer transition e ekhane dite hobee*/
}

.btn:hover,
.btn:active{
    background-color: #f5dddd;
    
}
.btn2:link,
.btn2:visited{                                     /*btn2 holo vitorer lekhata*/
    color: white;
   /* border-right: 1px solid white;*/
}

.btn2:hover,
.btn2:active{
    color: black;
}
.btn3:link,
.btn3:visited{                                     /*btn2 holo vitorer lekhata*/
    border-right: none;
}
.image{
    display: inline-block;
    width: 33.33%;
    margin: 5px auto;
    margin-bottom: -3px;
    
}
.logo{
     height: 80px;
    width: 150px;
}

.special-links{
    display: inline-block;
    list-style: none;
    width: 33.33%;
    margin-bottom: 20px;
}
.special-links li{
    float: left;
    margin-right: 30px;
    margin-top: 30px;
    margin-left: 30px;
}
.special-links li a:link,
.special-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #d6d6d6;
    font-size: 160%;
    -webkit-transition: color .4s;
    transition: color .4s;
}
 
.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram{
     -webkit-transition: color .4s;
     transition: color .4s;   
}
.ion-social-facebook:hover{
    color: #3b5998;
}
.ion-social-twitter:hover{
    color: #55acee;
}
.ion-social-googleplus:hover{
    color: #dd4b39;
}
.ion-social-instagram:hover{
    color: #125688;
}

.imgbox{
    height: 100px;
    position: absolute;
    padding-left: 200px;
    width: 33.33%;
    display: inline-block;
}
.imgbox img{
    padding-top: 10px;
    height: 135px;
}
.about-me {
    color: #fff;
    background-attachment: fixed; /*When we scroll in the page, the image stays in the same place, relative to the browser window*/
}
.name,
.sub{
     -webkit-transform: scale(1.00);
     transform: scale(1.00);
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
}
.name:hover,
.sub:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

/*CONTACT*/
.step-box:first-child{
    margin-top: 15px;
    text-align: right;
}
.step-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}
.works-step {
    margin-bottom: 50px;
}

.works-step div{
    color: indianred;
    border: 2px solid indianred;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 8px;
    font-size: 150%;
    margin-right: 25px;
}
.works-step p{
    color: #5c5555;
    padding-top: 13px;
}

.contact {
    padding: 45px;
    font-family: monospace;
}
.contact:before{
     display: block;
    height: 2px;
    background-color: #5c5555;
    content: "";
    width: 100%;
    margin: 0 auto;
}
h3 {
    color: #5c5555;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 150%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px; 
    padding-top: 40px;
}
h3:after{
    display: block;
    height: 1px;
    background-color: #5c5555;
    content: "";
    width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}

footer{
    background-color: #de2121;
    padding: 50px;
    font-size: 80%;
    box-shadow: 2px 2px 6px grey;
}
footer p{
    text-align: center;
    font-size: 100%;
    color: white;
    margin-top: 8px;
}



/*Education page*/
.box2,
.box3{
    text-align: center;
    background-color: #ccc;
    /*border: 1px solid #fc4646;*/
    padding: 9px;
    font-family: monospace;
    list-style: none;
    margin-bottom: 5px;
    -webkit-transform: scale(1.00);
    transform: scale(1.00);
    -webkit-transition: background-color .5s, -webkit-transform .5s;
    transition: background-color .5s, -webkit-transform .5s;
    transition: transform .5s, background-color .5s;
    transition: transform .5s, background-color .5s, -webkit-transform .5s;
}
.box2:hover,
.box3:hover{
    -webkit-transform: scale(1.10);
    transform: scale(1.10);
    background-color: white;
}
.box2{
    padding: 27px;
}
.box:first-child{
    margin-right: 10px;
}

.c {
    height: 100px;
    display: inline-block;
}

/*Skill*/
.box3{
    
}
.details-about {
    font-family: monospace;
    font-weight: 100;
    line-height: 140%;
    padding: 57px;
    text-align: center;
}
.details-about p{
    margin-bottom: 20px;
}
.details {
    
}

.contact-info {
    text-align: center;
}

.icon_ {
    color: #fff;
    border: 2px solid #fff;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 8px;
    font-size: 150%;
    float: left;
    margin-right: 25px;
}
